<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Device connection
      </mat-panel-title>
      <mat-panel-description>
        <b>{{deviceName}}</b>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout fxLayout.xs="column" fxLayoutGap="10px">
      <button mat-flat-button (click)="scan()" [disabled]="connected" color="primary">Scan</button>
      <button mat-flat-button (click)="disconnect()" [disabled]="!connected" color="primary">Disconnect</button>
      <mat-form-field>
        <mat-label>Device name</mat-label>
        <input matInput [readonly]="true" [(ngModel)]="deviceName">
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="connected">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Motor control
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <button mat-flat-button (click)="forward()" [disabled]="!connected || moving" color="primary">Forward</button>
      <button mat-flat-button (click)="stop()" [disabled]="!connected" color="warn">Stop</button>
      <button mat-flat-button (click)="backward()" [disabled]="!connected || moving" color="primary">Backward</button>
      <button mat-flat-button (click)="goToZero()" [disabled]="!connected || moving" color="accent">Go to zero</button>
      <button mat-flat-button (click)="resetZeroPosition()" [disabled]="!connected || moving || motorPosition == 0"
        color="accent">Reset zero
        position</button>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="spacer">
      <mat-form-field>
        <mat-label>Current position</mat-label>
        <input matInput [readonly]="true" [(ngModel)]="motorPosition">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Step mode" [(ngModel)]="stepFactor">
          <mat-option *ngFor="let factor of factors" [value]="factor.value">
            {{factor.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Move with following step number</mat-label>
        <input matInput type="number" min=0 max=9999999999 [disabled]="!(stepFactor==-1)"
          [(ngModel)]="userDefinedStepValue">
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Motor speed
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <mat-form-field>
        <mat-select [disabled]="!connected" placeholder="Speed" [(ngModel)]="speed">
          <mat-option *ngFor="let speed of speeds" [value]="speed.value">
            {{speed.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <button mat-flat-button (click)="setSpeed()" [disabled]="!connected || moving" color="primary">Apply</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>